/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
html, body {
	height: 100%;
}
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	display: flex;
	flex-direction: column;
}
main {
	flex: 1;
}
a {
	text-decoration: none;
	cursor: default	;
}
.ig-img {
	height: 22px;
	width: 22px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}



h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
.menu {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	display: block;
}
.menu li a:hover {
    color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filters {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 21px 0 50px 0;

}

.filter-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 38px;
	border: solid 1px #1D6154;
	border-radius: 60px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;	
	color: #1D6154;
	transition: 0.2s;
}

.filter-btn:nth-child(1) { width: 100px; }
.filter-btn:nth-child(2) { width: 100px; }
.filter-btn:nth-child(3) { width: 157px; }
.filter-btn:nth-child(4) { width: 198px; }


.filter-btn.active {
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}


#contact,
#login  {
	width: 50%;
	margin: auto;
}
#contact > *,
#login > * {
	text-align: center;

}
#contact h2,
#login h2{
	margin-bottom: 20px;
}
#contact form,
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#login .error-message {
    color: red;
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
}






/* Header titre avec bouton modifier */
.portfolio-header {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.edit-btn {
    background: none;
    border: none;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: start;
    gap: 8px;
	
}

.edit-btn:hover {
    color: #1D6154;
}

/* Modale */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-overlay.active {
    display: flex;
}

.modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    position: relative;
    background: white;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 12px;
    cursor: pointer;
    color: #000;
}
.modal-close:hover {
    color: #1D6154;
}

.modal-back {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 21px;
    cursor: pointer;
    color: #000;
}
.modal-back:hover {
    color: #1D6154;
}

.modal-title {
    text-align: center;
	font-weight: 400;
	font-size: 26px;
	margin-top: 60px;
    margin-bottom: 40px;
    color: #000;
}

/* Galerie de la modale */
.modal-gallery-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 100px 0 100px;
}
.modal-gallery {
	width: 100%;   
	height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	display: grid;
    grid-template-columns: repeat(5, 1fr);	
    gap: 9px;
	  /* cacher la scrollbar */
	scrollbar-width: none;      /* Firefox */
	-ms-overflow-style: none;   /* IE 10+ */
}

.modal-gallery img {

	user-select: none;       /* empêche la sélection au drag */
	-webkit-user-drag: none; /* empêche le drag natif sur Chrome/Safari */
  }
  

.modal-work {
    position: relative;
    margin: 0;
	max-width: 77px;
	max-height: 102px;
}

.modal-work img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.delete-work-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #000;
    color: white;
    border: none;
    width: 17px;
    height: 17px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
	border-radius: 2px;
}

.separator {
	width: 100%;
    height: 1px;
    background-color: #B3B3B3;
	margin-top: 67px;
}

.modal-picsadd-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 38px;
	border: solid 1px #1D6154;
	border-radius: 60px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 17px;	
	background-color: #1D6154;
	color: white;
	padding: 10px 49px;
	margin: 30px 90px 45px 90px;
}

.delete-work-btn:hover {
    background: #B1663C;
}

.modal-view {
    width: 100%;
}

